<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBMS Virtual Lab - Aggregate Functions</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class="main-body">

    <header>
        <!-- Guru Nanak Logo -->
        <img src="https://static.toiimg.com/thumb/msid-64358656,imgsize-52119,width-400,resizemode-4/64358656.jpg" alt="Guru Nanak Logo" class="logo">
        <!-- Heading -->
        <h1 class="header-title">Data Base Management System Virtual Lab!</h1>
    </header>

    <p>
        <h1>Welcome to DBMS Virtual Lab.</h1>
    </p>

    <section id="aggregate-functions-aim">
        <h2 class="section-heading">AIM: Performing the querying using Aggregate functions (COUNT, SUM, AVG, MAX, and MIN), GROUP BY, HAVING, and Creation and dropping of Views.</h2>
        <p>Analyze a system to implement the concepts of querying using Aggregate functions such as COUNT, SUM, AVG, MAX, and MIN, along with GROUP BY, HAVING, and Creation and dropping of Views.</p>
        
        <p class="section-heading">Recommended Hardware/Software Requirements:</p>
        <ul>
            <li>Hardware Requirements: Intel Based desktop PC with a minimum of 166 MHZ or faster processor with at least 1GB RAM and 500 MB free disk space.</li>
            <li>MySQL 5.6.1</li>
        </ul>
        
        <p class="section-heading">Pre-requisites:</p>
        <p>Student must know about the RDBMS-SQL</p>
        
        <p class="section-heading">Aggregate Functions:</p>
        <ul>
            <li>AVG: Retrieve the average value of a column.</li>
            <li>SUM: Retrieve the sum of all unique values in a column.</li>
            <li>COUNT: Retrieve the count of a column.</li>
            <li>MAX: Retrieve the maximum value of a column.</li>
            <li>MIN: Retrieve the minimum value of a column.</li>
        </ul>
        
        <p class="section-heading">Clauses:</p>
        <ul>
            <li>ORDER BY: The ORDER BY clause sorts the results of a query in ascending or descending order.</li>
            <li>GROUP BY: Sometimes we want to apply aggregate functions to groups of rows.</li>
            <li>HAVING: HAVING is like a WHERE clause except that it applies to the results of a GROUP BY query.</li>
        </ul>
        
        <p class="section-heading">Views:</p>
        <p>A VIEW is a table whose rows are not explicitly stored in the database but are computed as needed from the view definition. A VIEW is a computed table by taking reference from base tables.</p>
    </section>

</body>
</html>
