<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBMS Virtual Lab</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class="main-body">

    <header>
        <!-- Guru Nanak Logo -->
        <img src="https://static.toiimg.com/thumb/msid-64358656,imgsize-52119,width-400,resizemode-4/64358656.jpg" alt="Guru Nanak Logo" class="logo">
        <!-- Heading -->
        <h1 class="header-title">Data Base Management System Virtual Lab!</h1>
    </header>
    
    <p>
        <h1>Welcome to DBMS Virtual Lab.</h1>
    </p>
    
    <p>ER DIAGRAM</p>    
    
    <div>
        <p>
            <strong>AIM:</strong> Analyzing a system to implement the concepts of E-R Model through Bus Management System.<br>
            <br>
            <strong>CONCEPTS OF ER MODEL:</strong><br>
            <ul>
                <li>Entities and their types</li>
                <li>Cardinalities for each relationship</li>
                <li>Identification of strong entities and weak entities (if any)</li>
                <li>Indication of the type of relationships (total/partial)</li>
                <li>Incorporation of generalization, aggregation, specialization, etc., wherever required</li>
            </ul>
            <strong>Note:</strong> The student is required to submit a document by drawing the E-R Diagram to the lab teacher.<br>
            <br>
            <strong>RECOMMENDED HARDWARE / SOFTWARE REQUIREMENTS:</strong><br>
            <ul>
                <li>Hardware Requirements: Intel-based desktop PC with a minimum of 166 MHZ or faster processor with at least 1GB RAM and 500 MB free disk space</li>
                <li>MySQL 5.6.1</li>
            </ul>
            <strong>PRE-REQUISITES:</strong> Students must know the concepts of ER MODEL.<br>
            <br>
            <strong>PROCEDURE:</strong><br>
            After identifying the system, students will
            <ol>
                <li>Identify the entities</li>
                <li>Identify the attributes for the taken entities</li>
                <li>Establish the relationship between the entities</li>
                <li>Identify the cardinalities and types of relationships for the mentioned relationships</li>
                <li>Identify the class hierarchy (Generalization/ Specialization) and aggregation if any</li>
                <li>Show all the above representations in one diagram to generate an E-R Diagram</li>
            </ol>
        </p>
    </div>
</body>
</html>
