<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBMS Virtual Lab</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class="main-body">

    <header>
        <!-- Guru Nanak Logo -->
        <img src="https://static.toiimg.com/thumb/msid-64358656,imgsize-52119,width-400,resizemode-4/64358656.jpg" alt="Guru Nanak Logo" class="logo">
        <!-- Heading -->
        <h1 class="header-title">Data Base Management System Virtual Lab!</h1>
    </header>
    <p>
        <h1>Welcome to DBMS Virtual Lab.</h1>
    </p>

    <nav>
        <ul class="horizontal-list">
            <li><b><a href="{% url 'dmlaim' %}" class="section-link">AIM</b></a></li>
            <li><b><a href="{% url 'dmltheory' %} " class="section-link">THEORY</b></a></li>
            <li><b><a href="{% url 'dmlquiz' %} " class="section-link">QUIZ</b></a></li>
            <li><b><a href="{% url 'dmlsim' %}" class="section-link">SIMULATION</b></a></li>
            <li><b><a href="{% url 'feedback' %}" class="section-link">FEEDBACK</b></a></li>
            <li><b><a href="{% url 'dmlref' %}" class="section-link">REFERENCES</b></a></li>
        </ul>
    </nav>
    <p>
        This experiment focuses on Data Manipulation Language (DML) commands in SQL. DML commands allow us to manipulate data in the database. They include:
    </p>
    <ul>
        <li>SELECT Command</li>
        <li>INSERT Command</li>
        <li>UPDATE Command</li>
        <li>DELETE Command</li>
    </ul>
    <p>Students will learn how to use these commands to retrieve, add, update, and delete data in a SQL database.</p>
</section>

</body>
</html>