<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DML Theory - DBMS Virtual Lab</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class="main-body">

    <header>
        <!-- Guru Nanak Logo -->
        <img src="https://static.toiimg.com/thumb/msid-64358656,imgsize-52119,width-400,resizemode-4/64358656.jpg" alt="Guru Nanak Logo" class="logo">
        <!-- Heading -->
        <h1 class="header-title">Data Base Management System Virtual Lab!</h1>
    </header>
    <p>
        <h1> Welcome to DBMS Virtual Lab.</h1>
    </p>
    <p> DML Theory </p>    
    <p>
        <strong>SELECT DML Command</strong><br>
        SELECT is the most important data manipulation command in Structured Query Language. The SELECT command shows the records of the specified table. It also shows the particular record of a particular column by using the WHERE clause.

        <br><br>
        <strong>Syntax of SELECT Command:</strong><br>
        <pre>
            SELECT column_Name_1, column_Name_2, ….., column_Name_N 
            FROM Name_of_table;
        </pre>

        <br><br>
        <strong>INSERT DML Command</strong><br>
        INSERT is another most important data manipulation command in Structured Query Language, which allows users to insert data into database tables.

        <br><br>
        <strong>Syntax of INSERT Command:</strong><br>
        <pre>
            INSERT INTO TABLE_NAME (column_Name1, column_Name2, column_Name3, .... column_NameN)
            VALUES (value_1, value_2, value_3, .... value_N);
        </pre>

        <br><br>
        <strong>UPDATE DML Command</strong><br>
        UPDATE is another most important data manipulation command in Structured Query Language, which allows users to update or modify the existing data in database tables.

        <br><br>
        <strong>Syntax of UPDATE Command:</strong><br>
        <pre>
            UPDATE Table_name
            SET column_name1 = value_1, ….., column_nameN = value_N
            WHERE CONDITION;
        </pre>

        <br><br>
        <strong>DELETE DML Command</strong><br>
        DELETE is a DML command which allows SQL users to remove single or multiple existing records from the database tables. This command of Data Manipulation Language does not delete the stored data permanently from the database. We use the WHERE clause with the DELETE command to select specific rows from the table.

        <br><br>
        <strong>Syntax of DELETE Command:</strong><br>
        <pre>
            DELETE FROM Table_Name
            WHERE condition;
        </pre>
    </p>

</body>
</html>
