<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBMS Virtual Lab</title>
    <link rel="stylesheet" type="text/css" href="./styles.css">
</head>
<body class="main-body">

    <header>
        <!-- Guru Nanak Logo -->
        <img src="https://static.toiimg.com/thumb/msid-64358656,imgsize-52119,width-400,resizemode-4/64358656.jpg" width="250" height="150" alt="Guru Nanak Logo" class="logo">
        <!-- Heading -->
        <center>
        <h1 class="header-title">Data Base Management System Virtual Lab!</h1>
        </center>
    </header>
    <h1><p class="blinking-text">Welcome to DBMS virtual lab!!</p></h1>  

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'introduction' %}">
                        <img src="https://static.vecteezy.com/system/resources/previews/014/640/986/original/introduction-line-icon-vector.jpg" width="30" height="30" alt="Introduction Icon" class="section-icon"> 
                        Introduction
                    </a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'objectives' %}">
                        <img src="https://thumbs.dreamstime.com/b/target-challenge-objective-icon-competitive-advantage-symbol-successful-shot-darts-isolated-white-background-vector-131034872.jpg" width="30" height="30" alt="Objectives Icon" class="section-icon">
                        Objectives
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'experiments' %}">
                        <img src="https://static.thenounproject.com/png/1630956-200.png" width="30" height="30" alt="Experiments Icon" class="section-icon">
                        Experiments
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'feedback' %}">
                        <img src="https://cdn-icons-png.flaticon.com/512/4658/4658943.png" width="30" height="30" alt="Feedback Icon" class="section-icon">
                        Feedback
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    
    <p><b><h2>
        INTRODUCTION 
    </h2></b></p>
    <p><b>
        Virtual Labs for Teachers:
    </p></b>   
    <p> 
        Virtual Labs has the potential to bring paradigm shift in the way courses are taught today.For example, the teachers can take it to the class and demonstrate live examples while they are teaching difficult concepts to the students. Many difficult concepts are already integrated in the provided course icurriculum. It can also complement the existing labs, wherein the students can be given assignments before or after the lab. The teacher can actively coordinate that effort to enable inclusive learning for all the students.
    </p>
    <p><b>
        Virtual Labs for Students:
    </p></b>
    <p>
       Students will get a feel of the real lab, as all lab equipment, components and lab behavior would be mimicked in the system. Extensive 2D animations is used to provide real like look and feel to the students. The instruments and components are modeled accurately to provide real like response. Interactive animations are also provided at a lot of places to enable student learning.
    </p>
    <p><b>
        Key features of Virtual Labs:
    </p></b>
    <p>    
        Available 24X7. So students can learn difficult concepts at their own pace.
        Real looking components, to give the user a feel of the real laboratory.
        Step by step wizard to guide the students through the experiments.
    </p>
</body>
</html>







