<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBMS Virtual Lab - Querying Experiment</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class="main-body">

<header>
    <!-- Guru Nanak Logo -->
    <img src="https://static.toiimg.com/thumb/msid-64358656,imgsize-52119,width-400,resizemode-4/64358656.jpg" alt="Guru Nanak Logo" class="logo">
    <!-- Heading -->
    <h1 class="header-title">Data Base Management System Virtual Lab!</h1>
</header>

<p>
    <h1>Welcome to DBMS Virtual Lab - Querying Experiment</h1>
</p>

<nav>
    <ul class="horizontal-list">
        <li><b><a href="{% url 'queryaim' %}" class="section-link">AIM</a></b></li>
        <li><b><a href="{% url 'querytheory' %}" class="section-link">THEORY</a></b></li>
        <li><b><a href="{% url 'queryquiz' %}" class="section-link">QUIZ</a></b></li>
        <li><b><a href="{% url 'gameee' %}" class="section-link">SIMULATION</a></b></li>
        <li><b><a href="{% url 'feedback' %}" class="section-link">FEEDBACK</a></b></li>
        <li><b><a href="{% url 'queryref' %}" class="section-link">REFERENCES</a></b></li>
    </ul>
</nav>


<section>
    <p>
        This experiment focuses on advanced SQL querying techniques. Students will learn how to use various SQL operators and functions to perform complex queries, including:
    </p>
    <ul>
        <li>ANY and ALL operators</li>
        <li>IN operator</li>
        <li>EXISTS and NOT EXISTS operators</li>
        <li>UNION and INTERSECT set operators</li>
        <li>Constraints such as PRIMARY KEY, FOREIGN KEY, UNIQUE, and CHECK constraints</li>
    </ul>
    <p>Students will practice writing SQL queries involving these operators and constraints to retrieve, filter, and manipulate data from a database.</p>
</section>

</body>
</html>
