<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBMS Virtual Lab - References</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class="main-body">

    <header>
        <!-- Guru Nanak Logo -->
        <img src="https://static.toiimg.com/thumb/msid-64358656,imgsize-52119,width-400,resizemode-4/64358656.jpg" alt="Guru Nanak Logo" class="logo">
        <!-- Heading -->
        <h1 class="header-title">Data Base Management System Virtual Lab!</h1>
    </header>
    
    <h1>References</h1>
    
    <div>
        <p>
            Here are some recommended resources for learning more about SQL querying:
        </p>
        
        <!-- Other recommended resources... -->

        <h2>Online Courses</h2>
        <ul>
            <!-- Add other online courses -->
            <li><a href="https://archive.nptel.ac.in/courses/106/105/106105175/">NPTEL Course: Database Management System</a></li>
        </ul>
        
        <h2>YouTube Videos</h2>
        <ul>
            <!-- Add other YouTube videos -->
            <li><a href="https://youtu.be/IoL9Ve2SRwQ">SQL Tutorial for Beginners</a></li>
        </ul>
        
        <!-- More recommended resources... -->
    </div>
</body>
</html>
