<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBMS Virtual Lab - Querying AIM</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class="main-body">

    <header>
        <!-- Guru Nanak Logo -->
        <img src="https://static.toiimg.com/thumb/msid-64358656,imgsize-52119,width-400,resizemode-4/64358656.jpg" alt="Guru Nanak Logo" class="logo">
        <!-- Heading -->
        <h1 class="header-title">Data Base Management System Virtual Lab!</h1>
    </header>

    <p>
        <h1>Welcome to DBMS Virtual Lab.</h1>
    </p>

    <section id="querying-aim">
        <h2>Aim: Performing querying using ANY ALL, IN, Exists, NOT EXISTS, UNION, INTERSECT, Constraints etc.</h2>
        <p>Analyze a system to implement the concepts of querying using various SQL operators and constraints.</p>
        
        <p><strong>Recommended Hardware/Software Requirements:</strong></p>
        <ul>
            <li>Hardware Requirements: Intel Based desktop PC with minimum of 166 MHZ or faster processor with at least 64MB RAM and 100 MB free disk space.</li>
            <li>MySQL 5.6.1</li>
        </ul>
        
        <p><strong>Pre-requisites:</strong> Student must know about the RDBMS- Basic forms of SQL</p>
        
        <p><strong>Operators:</strong></p>
        <ol>
            <li>UNION:<br>UNION is used to combine results of two or more SELECT statements. It eliminates the duplicate rows from the result set.</li>
            <li>INTERSECT:<br>Intersect operation is used to combine two select statements, but it only returns the records which are COMMON from both SELECT statements.</li>
            <li>MINUS/EXCEPT:<br>The MINUS operation combines results of two SELECT statements and returns only those in the final result which belong to the first set of the result.</li>
            <li>IN:<br>The IN operator helps to connect an inner query to an outer query and also allows testing whether a value is in a given set of elements.</li>
            <li>NOT-IN:<br>The NOT IN operator is used as the opposite of the IN operator.</li>
            <li>EXISTS:<br>The EXISTS operator is used to search for the presence of a row in a specified table that meets a certain criterion. It allows us to test whether a set is non-empty or not.</li>
            <li>NOT EXISTS:<br>It is used opposite to EXISTS operator.</li>
            <li>ANY:<br>It compares a value to any applicable value in the list as per the condition.</li>
            <li>ALL:<br>ALL operator is used to select all tuples of SELECT statements.</li>
        </ol>
    </section>

</body>
</html>
