<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBMS Virtual Lab</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
        .center {
            text-align: center;
        }
    </style>
</head>
<body class="main-body">

    <header>
        <!-- Guru Nanak Logo -->
        <img src="https://static.toiimg.com/thumb/msid-64358656,imgsize-52119,width-400,resizemode-4/64358656.jpg" alt="Guru Nanak Logo" class="logo">
        <!-- Heading -->
        <h1 class="header-title">Data Base Management System Virtual Lab!</h1>
    </header>
    <p>
        <h1> Welcome to DBMS Virtual Lab.</h1>
    </p>
    <p> ER DIAGRAM </p>    
    <p>
        An Entity may be an object with a physical existence – a particular person, car, house, or employee – or it may be an object with a conceptual existence – a company, a job, or a university course.
    </p>
    <p>
        Strong Entity: A Strong Entity is a type of entity that has a key Attribute. Strong Entity does not depend on other Entity in the Schema. It has a primary key, that helps in identifying it uniquely, and it is represented by a rectangle.
    </p>
    <p>
        Weak Entity: An Entity type has a key attribute that uniquely identifies each entity in the entity set. But some entity type exists for which key attributes can’t be defined. These are called Weak Entity types.
    </p>

<!-- Image Center Alignment -->
<div class="center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSG1P-29lff-bNmWVxaFCq8QYjl1gG5656sUykT6qhuQQ&s" alt="Bus Reservation ER Diagram" width="600">
</div>

<p>
    This ER diagram for bus reservation represents the model of the bus ticket booking system entity. The entity-relationship diagram of the bus ticket booking system shows all the visual instruments of database tables and the relations between Booking, bus route, bus, set, etc. ER diagram for bus reservation used structure data to define the relationships between structured data groups of bus ticketing booking system functionalities. The main entities of the bus ticket booking system are bus, Booking, customer, bus route, ticket booking, and seat. This diagram implements indexing on each bus ticket booking system table for fast query execution.
</p>

</body>
</html>
